@font-face {
    font-family: "treasure_map_deadhandregular";
    src: url("fonts/treamd-webfont.woff2") format("woff2"),
         url("fonts/treamd-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "treasure_map_deadhandregular", Arial, sans-serif;
}

body, html{
    height: 100%;
    background-image: url("../images/pirate.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#pageTitle{
    text-align: center;
    font-size: 175px;
}

#gameContainer{
    height: 100%;
}

#gameText{
    text-align: center;
    font-size: 50px;
}

@media screen and (max-width: 1550px){
    
    #pageTitle{
        font-size: 100px;
    }

    #gameText{
        font-size: 45px;
    }
}

@media screen and (max-width: 900px){
    
    #pageTitle{
        font-size: 85px;
    }

    #gameText{
        font-size: 35px;
    }
}